@model IEnumerable<RSSReader.Models.Feed>

@{
    ViewData["Title"] = "View";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-5">
            <h1 style="margin-left: -20px;">Subscribed feeds</h1>
        </div>

        <div class="col-7 text-end">
            <form method="POST" style="display: inline-block;">
                <button asp-controller="Feeds" asp-action="ReloadAllFeeds" class="btn btn-primary"><i class="bi bi-bootstrap-reboot"></i> Reload Feeds</button>
            </form>            
            <button type="button" id="btnManage" onclick="changeVisibility()" class="btn btn-primary"> <i class="bi bi-pencil"></i> Manage</button>
            <a asp-controller="Feeds" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Feed</a>
        </div>
    </div>
</div>

@using (Html.BeginForm("DeleteSelectedFeeds", "Feeds"))
{

    List<FeedCategory> feedCategories = new List<FeedCategory>();
    var uniqueFeedsCategories = Model.DistinctBy(e => e.FeedCategoryId);


    @foreach (var category in uniqueFeedsCategories)
    {
        var feeds = Model.Where(e => e.FeedCategoryId == category.FeedCategoryId);
        <h2>@category.FeedCategory.Name</h2>

        foreach (var feed in feeds)
        {
                <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td style="width: 30%">
                    @Html.DisplayFor(modelItem => feed.Name)
                </td>
                <td style="width: 25%">
                    @Html.DisplayFor(modelItem => feed.LastUpdate)
                </td>
                <td>
                    @{
                        string divCheckbox = "divCheckbox" + feed.Id;
                        string checkboxDelete = "checkboxDelete" + feed.Id;
                        string btnEdit = "btnEdit" + feed.Id;
                        string btnRead = "btnRead" + feed.Id;
                    }

                    <a type="button" id="@btnEdit" asp-action="Edit" asp-route-id="@feed.Id" class="btn btn-primary" style="display: None;"> <i class="bi bi-pencil"></i> Edit</a>
                    <a type="button" id="@btnRead" asp-controller="Articles" asp-action="Read" asp-route-id="@feed.Id" class="btn btn-primary" style="display: inline-block;"> <i class="bi bi-book"></i> Read feed</a>
                    <div class="form-check" style="display: none; padding-left: 3em;" id="@divCheckbox">
                        <input class="form-check-input" type="checkbox" name="selectedFeedsId" id="@checkboxDelete" value="@feed.Id">

                        <label class="form-check-label" for="flexcheckdefault">
                            delete
                        </label>
                    </div>
                </td>
            </tr>
                </tbody>
            </table>            
        }
        <br>
    }
}

<script>
    function changeVisibility() {
        const divCheckboxs = document.querySelectorAll('[id^="divCheckbox"]');
        divCheckboxs.forEach(button => switchVisibility(button));
        const buttonsEdit = document.querySelectorAll('[id^="btnEdit"]');
        buttonsEdit.forEach(button => switchVisibility(button));
        const buttonsRead = document.querySelectorAll('[id^="btnRead"]');
        buttonsRead.forEach(button => switchVisibility(button));
        const buttonDeleteSelectedFeeds = document.querySelectorAll('[id^="btnDeleteSelectedFeeds"]');
        buttonDeleteSelectedFeeds.forEach(button => switchVisibility(button));
        const checkboxes = document.querySelectorAll('[id^="selectAllCheckboxes"]');
        checkboxes.forEach(button => switchVisibility(button));
    }

    function switchVisibility(button) {
        if (button.style.display == 'none') {
            button.style.display = 'inline-block';
        } else {
            button.style.display = 'None';
        }
    }

    function asddasasdadsadsads() {
        const allCheckboxes = document.querySelectorAll('[id^="checkboxDelete"]');
        allCheckboxes.forEach(checkBox => selectAll(checkBox));
    }
    function selectAll(checkBox) {
        document.getElementById(checkBox.id).checked = true;
    }
</script>

