@model IEnumerable<RSSReader.Models.Feed>

@{
    ViewData["Title"] = "View";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Subscribed feeds</h1>
        </div>

        <div class="col-6 text-end">
            <button type="button" id="btnManage" onclick="changeVisibility()" class="btn btn-primary"> <i class="bi bi-pencil"></i> Manage</button>
            <a asp-controller="Feeds" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Feed</a>
        </div>
    </div>
</div>

@using (Html.BeginForm("DeleteSelectedFeeds", "Feeds"))
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Feed name</th>
                <th>Last updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 30%">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="width: 20%">
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    <td>
                        @{
                            string divCheckbox = "divCheckbox" + item.Id;
                            string checkboxDelete = "checkboxDelete" + item.Id;
                            string btnEdit = "btnEdit" + item.Id;
                            string btnRead = "btnRead" + item.Id;
                        }

                        <a type="button" id="@btnEdit" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="display: None;"> <i class="bi bi-pencil"></i> Edit</a>
                        <a type="button" id="@btnRead" asp-controller="Articles" asp-action="Read" asp-route-id="@item.Id" class="btn btn-primary" style="display: inline-block;"> <i class="bi bi-book"></i> Read feed</a>
                        <div class="form-check" style="display: none; padding-left: 3em;" id="@divCheckbox">
                            <input class="form-check-input" type="checkbox" name="selectedFeedsId" id="@checkboxDelete" value="@item.Id">

                            <label class="form-check-label" for="flexcheckdefault">
                                delete
                            </label>
                        </div>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button type="button" id="selectAllCheckboxes" style="display: none;" onclick="asddasasdadsadsads()" class="btn btn-primary">Select all</button>
                    <button class="btn btn-danger" id="btnDeleteSelectedFeeds" type="submit" style="display: none;">Delete feeds</button>
                </td>
            </tr>
        </tbody>
    </table>
}

<script>
    function changeVisibility() {
        const divCheckboxs = document.querySelectorAll('[id^="divCheckbox"]');
        divCheckboxs.forEach(button => switchVisibility(button));
        const buttonsEdit = document.querySelectorAll('[id^="btnEdit"]');
        buttonsEdit.forEach(button => switchVisibility(button));
        const buttonsRead = document.querySelectorAll('[id^="btnRead"]');
        buttonsRead.forEach(button => switchVisibility(button));
        const buttonDeleteSelectedFeeds = document.querySelectorAll('[id^="btnDeleteSelectedFeeds"]');
        buttonDeleteSelectedFeeds.forEach(button => switchVisibility(button));
        const checkboxes = document.querySelectorAll('[id^="selectAllCheckboxes"]');
        checkboxes.forEach(button => switchVisibility(button));
    }

    function switchVisibility(button) {
        if (button.style.display == 'none') {
            button.style.display = 'inline-block';
        } else {
            button.style.display = 'None';
        }
    }

    function asddasasdadsadsads() {
        const allCheckboxes = document.querySelectorAll('[id^="checkboxDelete"]');
        allCheckboxes.forEach(checkBox => selectAll(checkBox));
    }
    function selectAll(checkBox) {
        document.getElementById(checkBox.id).checked = true;
    }
</script>

